src/test/resources/wsdl/accountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://webservices.tilufwlow/accountservice" xmlns:sch1="http://webservices.tilufwlow" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.tilufwlow/accountservice" targetNamespace="http://webservices.tilufwlow/accountservice">
  <wsdl:types>
    <xsd:schema xmlns="http://webservices.tilufwlow/accountservice" xmlns:account="http://webservices.tilufwlow" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://webservices.tilufwlow/accountservice"><xsd:import namespace="http://webservices.tilufwlow"/><xsd:element name="AccountDetailsRequest"><xsd:complexType><xsd:sequence><xsd:element name="accountNumber" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="AccountDetailsResponse"><xsd:complexType><xsd:sequence><xsd:element name="AccountDetails" type="account:Account"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
    <xs:schema xmlns="http://webservices.tilufwlow" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://webservices.tilufwlow"><xs:element name="Account" type="Account"/><xs:complexType name="Account"><xs:sequence><xs:element name="AccountNumber" type="xs:string"/><xs:element name="AccountName" type="xs:string"/><xs:element name="AccountBalance" type="xs:double"/><xs:element name="AccountStatus" type="EnumAccountStatus"/></xs:sequence></xs:complexType><xs:simpleType name="EnumAccountStatus"><xs:restriction base="xs:string"><xs:enumeration value="Active"/><xs:enumeration value="Inactive"/></xs:restriction></xs:simpleType></xs:schema>
  </wsdl:types>
  <wsdl:message name="AccountDetailsResponse">
    <wsdl:part element="tns:AccountDetailsResponse" name="AccountDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountDetailsRequest">
    <wsdl:part element="tns:AccountDetailsRequest" name="AccountDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServices">
    <wsdl:operation name="AccountDetails">
      <wsdl:input message="tns:AccountDetailsRequest" name="AccountDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountDetailsResponse" name="AccountDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServicesSoap11" type="tns:AccountServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AccountDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServicesService">
    <wsdl:port binding="tns:AccountServicesSoap11" name="AccountServicesSoap11">
      <soap:address location="http://localhost:8080/tiluws/webservices/accountService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>